<div class="levels-container">
  <a href="/home" class="back-button-top-left">â† Back</a>
  <h1 class="levels-title">Choose Your Level</h1>
  <div class="levels-buttons">
    <a href="/play?difficulty=Easy" class="level-button">Easy</a>
    <a href="/play?difficulty=Medium" class="level-button">Medium</a>
    <a href="/play?difficulty=Hard" class="level-button">Hard</a>
    <a href="/play?difficulty=Insane" class="level-button">Insane</a>
  </div>
</div>

