
body {
  background-color: #fff;
  color: #000;
  font-family: "Comic Neue", "Papyrus", cursive;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


button, a {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 25px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
}
button:hover, a:hover {
  background-color: #333;
}


#game-area {
  position: relative;
  width: 90vw;
  height: 70vh;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 20px;
}

.word {
  position: absolute;
  background-color: #7b4b49; /* brown */
  color: #fff;
  font-weight: bold;
  border-radius: 15px;
  padding: 8px 16px;
  white-space: nowrap;
  font-size: 20px;
  font-family: "Papyrus", cursive;
}


#timer {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7b4b49;
  color: #fff;
  font-weight: bold;
  padding: 6px 20px;
  border-radius: 10px;
  font-size: 18px;
}


#exit-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  padding: 6px 14px;
  cursor: pointer;
}


#wordInput {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 45px;
  background-color: #b0a7a7;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 20px;
  border: none;
  outline: none;
}
